/*
* Anna Getty
* Due Date
* Project Name and Description
*/

/* The universal selector */

* { 

} 

/* Body attributes here */

body {
  background-color: lightblue;
} 
header {background-color: aquamarine;}
main {background-color: skyblue;}
footer {background-color: lightseagreen}